<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1><em class="error">x</em><%= t('pages.error.title') %></h1>
  <br/>
  <p>
    <%= flash[:notice] %>
  </p>
  <% if flash[:error] %>
    <p>
      <code><%= flash[:error] %></code>
    </p>
  <% end %>

  <% if flash[:dump] %>
    <p>
      <pre><%= flash[:dump].to_yaml %></pre>
    </p>
  <% end %>
  <a href="<%= root_url %>" class="btn">
    <i class="icon-refresh"></i> 
    <%= t('pages.error.try_again') %>
  </a>
  <br/>
  <br/>
  <%= render 'shared/help' %>
</div>

