<div class="hero-unit">
  <h1><em class="error">x</em><%= t('pages.error.title') %></h1>
  <br/>
  <p>
    <%= flash[:notice] %>
  </p>
  <% if flash[:error] %>
    <p>
      <code><%= flash[:error] %></code>
    </p>
  <% end %>

  <% if flash[:dump] %>
    <p>
      <pre><%= flash[:dump].kind_of?(Hash) ? flash[:dump].to_yaml : flash[:dump] %></pre>
    </p>
  <% end %>
  <a href="<%= url_for(:back) %>" class="btn">
    <i class="icon-refresh"></i> 
    <%= t('pages.error.try_again') %>
  </a>
  <br/>
  <br/>
  <%= render 'shared/help' %>
</div>

