<% content_for :sidebar do %>
  <% @adapters.each do |adapter| %>  
    <ul class="nav nav-list">
      <li class="nav-header">      
        <b><%= current_app %></b> <%= adapter.collection_name(2) %>
      </li>
    </ul>
    <ul id="collections" class="nav nav-list">
      <% adapter.collections.each do |collection| %>
        <li>
          <a href='#' data-adapter='<%= adapter.id %>' data-collection='<%= collection %>'><i class="icon-list"></i> <%= collection %></a>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<div id='find-progress' class="progress progress-striped active">
  <div class="bar"></div>
</div>
<div class="fixed-table-container">
  <table class="table table-condensed">
    <thead>
      <tr class="odd">
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>