<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Labrador</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= include_gon(:namespace => 'serverExports', :camel_case => true) %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="<%= asset_path("favicon.ico") %>">
  </head>

  <body>

    <div class="navbar navbar-top" data-view="header">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="<%= new_session_url(subdomain: false) %>"><img src="/assets/logo.png" alt="labrador"/>Labrador</a>

          <% if current_app %>
            <div class="btn-group pull-left" data-toggle="buttons-radio" data-view="context">
              <button class="btn" data-action="schema">
                <i class="icon-list-alt"></i> <%= t('database.structure') %>
              </button>
              <button class="btn active" data-action="content">
                <i class="icon-align-justify"></i> <%= t('database.content') %>
              </button>
            </div>
          <% end %>

          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-folder-open"></i> <%= current_app %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% (@applications || []).each do |app| %>
                <li>
                  <a href="<%= app_url(app) %>"><%= app %></a>
                </li>
              <% end %>
              <li class="divider"></li>
              <li>
                <%= link_to session_path('all'), method: 'delete' do %>
                  <i class="icon-off"></i> Clear Sessions
                <% end %>
              </li>
            </ul>
          </div>
          <a class="btn pull-right" href="<%= new_session_url(subdomain: false) %>">
            <i class="icon-plus-sign"></i> Connect
          </a>
          <div class="nav-collapse">
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" data-view="main">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <%= yield :sidebar %>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <%= yield %>
        </div><!--/span-->
      </div><!--/row-->



    </div><!--/.fluid-container-->
    <footer data-view="footer">
      <div class="span3">
        <ul data-view="controls">
          <!-- <li><i class="icon-repeat"></i></li> -->
        </ul>
      </div>
      <div class="span9">
        <div class="pull-right">
          <ul data-view="controls">
            <li data-action="refresh" data-disabled="<%= current_app.nil? %>"><i class="icon-repeat"></i></li>
            <li data-action="prev-page" data-disabled="<%= current_app.nil? %>"><i class="icon-chevron-left"></i></li>
            <li data-action="config">
              <i class="icon-cog"></i>              
            </li>
            <li data-action="next-page" data-disabled="<%= current_app.nil? %>"><i class="icon-chevron-right"></i></li>
          </ul>
        </div>
        <div class="pull-left">
          <ul data-view="controls">
            <li data-action="create-item" data-disabled="<%= current_app.nil? %>"><i class="icon-plus"></i></li>
            <li data-action="delete-item" data-disabled="<%= current_app.nil? %>"><i class="icon-minus"></i></li>
          </ul>
        </div>
        <div class="pull-left">
          <span data-name='status'></span>
        </div>
      </div>

      <!-- modals -->
      <div class="modal hide">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h3><%= t('modals.settings.title') %></h3>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <fieldset>
              <div class="control-group">
                <label class="control-label" for="input01"><%= t('modals.settings.form.limit.label') %></label>
                <div class="controls">
                  <input type="text" class="input-mini" value="500" data-name='limit'> 
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn" data-dismiss="modal"><%= t('modals.settings.cancel') %></a>
          <a href="#" class="btn btn-primary" data-action='apply'><%= t('modals.settings.apply') %></a>
        </div>
      </div>
      <!-- /modals -->
    </footer>
  </body>
</html>